* {
  box-sizing: border-box;
}
body{
  background-color: #F0F4F7; 
}
.App {
  font-size: 14px;
}
.App h1{
  margin: 20px 100px;
}
.App-panel{
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin:0 100px;
}
.App-panel > div{
  display: inline;
  padding: 20px;
  text-align: left;
  width:200px;
  height: 70px;
}
.panel-title{
  background-color: #F0F4F7;
  color:gray;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}